[2014-12-14 13:43] igas opened #9 "Roadmap"
- [ ] Add elixir first class docs
- [x] Remove json programming
- [ ] Remove application
- [ ] Add different modules to different langs

[2015-01-06 19:31] whatyouhide opened #12 "Remove JSON programming"
As mentioned in #9, it's probably better to entirely remove JSON programming and only use JSON in order to store **data**.

My main concern is this: are fake data structures similar in all languages? I see you created a "team" object, which has the form `[state] [creature]`. In Italian for example, that would be `[creature] [state]`.

What I would do is create a module for each fake data type (e.g

[2015-01-06 19:52] vforvova commented on #12
:+1:

[2015-01-07 03:40] igas commented on #12
Wow! @whatyouhide you read my thoughts! I already start some experiments to do this, take a look at https://github.com/igas/faker/commit/2ab92616117c1e0eb92ce00a3623f3804c18e7e6
I want to minimize metaprogramming as much as possible, but for now I stuck with https://github.com/igas/faker/blob/5e72087db4d071308eddfb0881671f97b3730369/priv/address.json#L9-L14 we can't just hardcode it to function ca

[2015-01-07 14:49] whatyouhide commented on #12
I like the `city/0` + `city/1` approach you proposed in your comment. That's definitely the direction I'd like this library to go towards.

As for starting the application, I don't know what's the best solution. Another idea could be to just create a Faker "object" that you can pass as the first argument to `Faker` functions (e.g., in a [Exredis](https://github.com/artemeff/exredis)-like fashion):

[2015-01-07 15:58] igas commented on #12
I think it can be written this way:

[code]

I think every time pass object too verbose. Another longterm plans is to add `Agent`, you know, often you need uniq value, we can store/clean value on each test and regenerate if it already present. It's something I also don't see in any other implementations. If you familiar with ruby FactoryGirl, we can run `FactoryGirl.create_list(:category, 50)` and

[2015-01-07 19:20] whatyouhide commented on #12
Premise: I left a dangling piece of code in the example above, fixed that.

I actually am pretty familiar with FactoryGirl, but, as I see it, FactoryGirl is *very* far from Faker. FactoryGirl is test oriented, and is focused on creating model instances (and **persisting** them), while Faker is development oriented, focused on providing stub data to fill your database with. At least, that's what I'

[2015-01-08 08:53] igas commented on #12
I'm still not sure about passing struct.

[code]

versus

[code]

About uniqueness, I don't mean persistence, it's only about data generation. Very dirty example:

[code]

We don't persist anything or whatever, we just taking care that data in some generation sequence uniq. If it'll be solved by user, it's again will be verbose, to check value exist/regenerate/track. Anyway it's longterm and I'm a

[2015-01-08 10:24] whatyouhide commented on #12
About the application, so what would be the code for `Faker.start`?

[2015-01-08 11:03] igas commented on #12
For now `start/0` just `:application.start(:faker)` to remove it from mix.exs and start it explicit where you need. And `start/1`:

[code]

[2015-01-08 15:52] whatyouhide commented on #12
Ok, sounds fair.

About removing the Poison dependency and using module attributes to store values, we could just create  simple data files in a plaintext format what we can easily parse inside Faker. I'm not a fan of storing **a lot** of data along with the code in regular modules. What do you think?

[2015-01-08 15:59] gazay commented on #12
https://github.com/GIML bros!

[2015-01-08 16:11] whatyouhide commented on #12
@gazay I think the point would be to remove all dependencies, but yes, that's a nice alternative solution :). If we have to leave dependencies though I think JSON could be fine at that point.

[2015-01-08 17:05] gazay commented on #12
In Haskell you just don't have JSON parser without dependencies (not like in Ruby – it is a part of core lib) and they are pretty heavy. So thats why I wrote my small parser for my small language)) I don't know situation in Elixir, so yes, if it is like Ruby and have JSON parser in core lib - then better use it.

[2015-01-08 17:09] whatyouhide commented on #12
No, Elixir doesn't have a JSON parser in the stdlib either. What I was saying is that the purpose of using module attributes should be to completely remove **any** external dependency (such as Poison, the JSON parser that Faker is using). Removing the Poison dependency but adding a dependency to a parser for your language is kind of pointless IMO.

[2015-01-08 17:14] igas commented on #12
@whatyouhide The problem with JSON dependency is it more general, lately phoenix framework start using poison and we need to deal with it which I don't like. Coupling on one popular project make problems with others.

[2015-01-08 17:18] whatyouhide commented on #12
I agree that **no dependencies** are cleaner that **some dependencies**, but *if* you have to have dependency than I'd rather use a well-known and used project like Poison to parse JSON data than a *very* young (less that 2 months old I think?) and unknown markup language **and** its dependency.

Obviously, you have the final word since you're the owner of the repository. I'm just expressing my op

[2015-01-08 17:33] igas commented on #12
Let's be _lean_ and decide it later, for now we keep poison only for storing values.

[2015-01-22 20:02] nykolaslima opened #14 "Add documentation about how to use it"

[2015-01-24 13:37] igas commented on #14
I tried to do my best =) Check out readme now. If you have suggestions or questions, I'll glad to hear them.

[2015-02-22 04:55] #14 closed

[2015-08-31 11:05] apeacox opened #18 "Add "sku()" to Commerce (or Code?) module"
When dealing with e-commerce, it's almost frequent to need unique [sku](https://en.wikipedia.org/wiki/Stock_keeping_unit). So it might be a good idea to add it to `Commerce` or `Code` modules. I'd put them on the former, but I saw you used the latter for stuff like `isbn`s.

[2015-09-01 07:08] igas commented on #18
Hi @apeacox, PR are welcome =) I think it should be `Commerce` cause it doesn't have spec, according to wiki. If you can describe what you need with examples I can do it, but for now I don't know what to do.

[2015-09-04 00:26] lessless opened #19 "No function clause matching in Faker.Internet.email_count/1"
Hello, this is the error which I get with `0.5.1`
[code]

[2015-09-04 00:57] igas commented on #19
You should start faker application, more info about it in readme under usage section: https://github.com/igas/faker#usage

[2015-09-04 00:57] #19 closed

[2015-09-27 10:55] igas commented on #18
Hey @apeacox, any updates on this one?

[2015-09-28 00:49] igas opened #23 "Define locales as en_US, en_AU etc"
In same languages can be different behaviour of locales, for example postcodes in `Address` module.

[2015-09-28 00:51] igas opened #24 "Do not call inexistent locales"
In dynamic module calls do not call langs that we don't have.

[2015-09-29 07:42] igas opened #25 "Get rid of json programming in Faker.Company"

[2015-09-29 07:42] igas opened #26 "Get rid of json programming in Faker.Internet"

[2015-09-29 07:43] igas opened #27 "Get rid of json programming in Faker.Lorem"

[2015-09-29 07:43] igas opened #28 "Get rid of json programming in Faker.Name"

[2015-09-29 07:43] igas opened #29 "Get rid of json programming in Faker.Team"

[2015-09-29 10:18] apeacox commented on #18
well, for now I've abandoned faker package because I've switched from factories to fixtures. so it wasn't a problem to fill in some values by hand.

[2015-09-29 10:22] igas commented on #18
@apeacox sure, no worries =)

[2015-09-29 10:22] #18 closed

[2015-09-30 16:51] saulecabrera commented on #29
I'll be working in this one @igas!

[2015-09-30 23:00] #29 closed

[2015-10-01 21:38] saulecabrera commented on #28
Working on it @igas

[2015-10-02 02:00] #28 closed

[2015-10-02 23:01] saulecabrera commented on #26
Working on it @igas!

[2015-10-03 10:23] vforvova commented on #25
@igas I'll take this one

[2015-10-03 13:18] #25 closed

[2015-10-04 09:40] #26 closed

[2015-10-05 23:35] saulecabrera commented on #27
Working on it @igas :)

[2015-10-05 23:36] igas commented on #27
@saulecabrera :+1: thanks for all contributions!

[2015-10-06 01:04] saulecabrera commented on #27
No problem @igas, looking forward to help make Faker as cool as possible!

[2015-10-07 01:50] #27 closed

[2015-10-19 08:01] andruby opened #37 "Pass all random number generation through a single function"
I often want random, but deterministic fake data for seeds. This is great because the generated data is always the same on all machines that run the seeds.

If all random number generation uses a single function, library users could swap `:crypto.rand_uniform` with a seeded RNG.

@igas does this sound like a good idea?

[2015-10-19 09:31] igas commented on #37
Sounds interesting. I'll be glad to merge it if implementation will be simple and elegant. It also can help with faker tests itself. Do you have implementation ideas? I'm thinking about something like [this](http://blog.plataformatec.com.br/2015/10/mocks-and-explicit-contracts/)

[2015-11-02 13:48] saulecabrera commented on #24
@igas will raising an exception will be the right way to proceed here?

[2015-11-03 01:49] igas commented on #24
I don't think so, we should fallback to defaults.

For example if I call `Faker.Name.name` for locale set to `:id`. And we don't have an `Faker.Name.Id` it should call `Faker.Name.En`.

I see it something like this:

* check if `:faker` app started.
* If it is grab locale and check that we have module for this locale.
* If any of this false fall back to `En`

It'll be a little bit more difficult w

[2015-11-05 17:45] vforvova commented on #24
@igas fallback to defaults is good idea, but what if we have partial implementation of Faker for some language?
For example, we have `Faker.Name.En`, `Faker.Company.En` as default and `Faker.Name.Ru` for Russian language. If we send `name` to `Faker.Name` with Russian as current language, we will get any Russian name. But if we send `Faker.Company` with Russian language, we will get English compan

[2015-12-28 01:06] #12 closed

[2016-01-16 02:19] igas opened #44 "Faker.Phone API"
Hey folks,

I thinking about API for phones, here is my thoughts:

* `number/0` as general entry for mobile/landline numbers;
* `cell_number/0` & `mobile_number/0`;
* `landline_number/0`;
* `area_code/0`
* `exchange_code/0`
* `subscriber_number/0`
* `extension/0`

In some cases arity can be 1 cause of rules length of `subscriber_number` based on `area_code` etc

Reasons behind separation is someti

[2016-01-16 04:03] johnhamelink commented on #44
I think that seems sensible.

The problem is that in order for UK phone numbers to be truely valid, they actually follow quite a specific pattern (See [here][0] for more info - parts of the number denote different areas of the UK, prefixes define different types of phone number, they can have different lengths depending on the type of number, etc etc).

Because of this, Faker.format/1 has limited

[2016-04-17 02:24] CraigCottingham opened #46 "Not working with Elixir 1.2"
[code]
Are there changes in the works to get Faker working with Elixir 1.2?

[2016-04-17 02:56] igas commented on #46
Hi, can you provide more information? Works on my machine and on travis https://travis-ci.org/igas/faker/builds/123650682

[2016-04-17 06:17] CraigCottingham commented on #46
I apologize for prematurely filing an issue. I just created a brand new Phoenix application under Elixir 1.2, added Faker to it, and it is working fine. Apparently the problem I'm having in my original project is deeper than Faker.

[2016-04-17 06:17] #46 closed

[2016-04-17 06:21] igas commented on #46
No worries, Craig.

[2016-06-07 21:12] GesJeremie opened #50 "What about an Helper module ?"
It would be awesome to have an Helper module:

[code]

Internally we have an awesome macro :sampler, I think it will be useful to provide an api for the developers ?!

I really liked another feature from Mirage (it's an npm / ember module to fake a REST API into the client):

[code]

[2016-06-08 00:12] igas commented on #50
Yes, I had a thoughts about both of them.

* I want to move most of Faker module to Helper, I don't think we need pick, sampler should do the job on compile time, but you need to use it a little bit differently.

* That's great, I also want something like this, but more like `uniq`. Say I'm testing user list, and creating 1000 users, with uniq name validation, sometimes test fails cause of validat

[2016-06-17 18:44] saulecabrera commented on #44
Hey @igas @johnhamelink,

I spent some time reading/investigating about telephone numbers and came across [E.164](https://en.wikipedia.org/wiki/E.164) which basically states that a phone number consists of mainly three parts:

* Country Code (equivalent to area code I guess)
* National Destination Code (equivalent to exchange code I guess)
* Subscriber Number
Subscriber Number and National Destina

[2016-06-22 00:15] mayppong commented on #44
I would love to see a phone number module!

[2016-06-22 00:40] igas commented on #44
well, we want to make it right, and I think first we need to do before it, decide how we'll manage langs and locales. Like `en_UK` & `en_US`. it should on one hand work with all `en`s but also pick `US/UK` when available. Sadly I don't have enough time to do that 😞

[2016-07-17 13:57] belaustegui opened #52 "Warnings during compilation"
I am getting multiple warnings when compiling Faker under Elixir `1.3.1`:

[code]

[2016-07-20 12:01] #52 closed

[2016-07-29 03:38] kiaking opened #56 "Deprecated random module"
Since Elixir 1.3 (I guess) the `random` module has been deprecated. Hence we get these warning when compiling Faker.

[code]

Would it be helpful if I make PR to replace random module with rand module? Or is there any concern?

[2016-07-29 03:54] igas commented on #56
Hi, thanks, it's been done in #53. Sadly don't have time to fix this and release new version.

[2016-07-29 04:01] kiaking commented on #56
Oh sorry I didn't see that. Thanks! Hope you can find some time : )

[2016-07-29 04:01] #56 closed

[2016-08-12 20:47] uri opened #57 "Faker.Internet.email does not work"
[code]

[2016-08-12 21:21] uri opened #58 "Should not try to randomly access a list"
It seems like the core mechanism is this library is to use the `sampler` macro to define a function that access a giant **_list**_ at a random index. Lists are not meant for random access, they are slow and your access time is linear.

Keeping inline with the current mechanism, the sampler macro should be provided a giant _tuple_ instead of a list. The macro itself would need to use `elem` to acce

[2016-08-13 00:34] igas commented on #57
Hi @uri, you forgot to start app check out https://github.com/igas/faker#usage TL;DR in your iex session you can run `Faker.start`

[2016-08-13 00:38] igas commented on #58
Hi @uri,

you are right, but I think we'll switch to `map`, cause in our ticket we already discussed it and decided to have erlang 18+.

[2016-08-13 16:56] GesJeremie opened #59 "Documentation summary README removed"
Can you explain me why you just removed the whole documentation I did ?

https://github.com/igas/faker/commit/59e2bb41ce60e5c8b09cc7ab6e09e83edbd47398

I wanted to use the library to create some factories in my current application today.

The documentation we have is quite poor (we don't see the ouput of the different methods), that's why I spent 1hour 1 month ago to do this tiny documentation in

[2016-08-13 23:42] igas commented on #59
Hi @GesJeremie,

my intention was around issues that appear quite regularly around misunderstanding how to use (start) lib in the first place #57, #19, #7. I thought if we make readme smaller it'll help ppl to find how to do it, coz it's there but they miss it.

I see 3 possible solutions:
* improve docs in hex;
* move work you done in CHEATSHEET.md or USAGE.md or similar and have link in readme;

[2016-08-14 03:42] GesJeremie commented on #59
Just saw you put it back in a separate usage file, sounds good to me ;)

[2016-08-14 03:42] #59 closed

[2016-08-15 14:07] uri commented on #58
Awesome! When I was writing this ticket I wasn't sure which would make more sense: using a tuple or a map. Was there any discussion around this? I'm assuming for a map you would do something like `%{1 => "Abbie", 2=> "Abbigale" ...}`or would it be implemented differently?

[2016-09-12 17:09] AndrewDryga opened #60 "Remove warnings on compilation"
I guess it would be nice to remove all warnings from a console:

[code]

[2016-09-18 23:15] igas commented on #60
Hi, can you update faker. I think it was fixed in #53 and 0.7.0 were released ~ month ago. If you still get warnings pls tell me.

[2016-09-20 10:21] denispeplin commented on #57
Not very clear from docs, it will be nice to have an example on a separate line.

[2016-09-28 08:53] anronin opened #62 "Argument error in Faker.format/2"
Hi! I have some strange problem with `Faker.format` when i run it with hashtag string:
[code]
I think problem may be with new OTP 19 version.
I have this environment:

Erlang/OTP 19 [erts-8.1] [source-77fb4f8] [64-bit]
Elixir 1.4.0-dev (f7c699f)

[2016-10-07 16:57] pauloancheta commented on #62
I just tried it with my environment and it returns what is expected.
I am using:
Erlang/OTP 19 [erts-8.0.2]
Elixir 1.3.2 and 1.3.3

[2016-10-09 04:58] igas commented on #62
Hi @anronin, I've just checked:

[code]

Do you still have a problem with it? can you show steps to reproduce?

[2016-10-09 05:00] igas commented on #60
I suppose update helped, closing this one.

[2016-10-09 05:00] #60 closed

[2016-10-09 05:03] igas commented on #57
@denispeplin @uri PR is welcome. I tried to clarify this few times, but issues like this still happen.

[2016-10-09 05:23] #57 closed

[2016-10-10 08:20] anronin commented on #62
sorry for late answer, now i think that problem maybe in my phoenix application, because i've just pulled `faker` from git and everything work just fine. my bad

[2016-10-10 08:21] #62 closed

[2016-10-10 21:35] orieken opened #63 "Can we add the #Hacktoberfest label for pull requests this month"
👍 #Hacktoberfest https://hacktoberfest.digitalocean.com/

[2016-10-10 23:54] igas commented on #63
I'm not sure I understand it completely, but I'm ok with this kind of promo.

[2016-10-11 01:20] orieken commented on #63
We would just have to add a Hacktoberfest label to the to issues, https://help.github.com/articles/creating-and-editing-labels-for-issues-and-pull-requests/

[2016-10-11 05:58] igas commented on #63
👍

[2016-10-28 08:44] #63 closed

[2016-11-27 08:11] igas commented on #58
@uri, I think I implemented it. I left API the same, but at compile time it does a transformation. Take a look at #68.

[2016-12-03 06:02] #58 closed

[2016-12-22 08:09] tobyhinloopen commented on #50
What's wrong woth Enum.random?

[2017-02-09 18:22] adrianotadao opened #78 "function Faker.Date.date_of_birth/1 is undefined"
I don't know what is happening but I can't use the all the `Faker.Date` methods.

[code]

does anyone have some idea why?

[2017-02-10 10:33] tobyhinloopen commented on #78
What version of Faker are you using?
What version of Elixir are you using?

date_of_birth is a very recent addition and is only enabled for Elixir >=1.3 IIRC

[2017-02-10 12:44] adrianotadao commented on #78
@tobyhinloopen Hello, my versions are:

[code]

[code]

[2017-02-11 06:43] igas commented on #78
I think you are using hex version of faker. This Date module part of unreleased version: https://github.com/igas/faker/blob/master/CHANGELOG.md

You can change you dependency to get latest version from github if you want.

[2017-02-14 16:46] adrianotadao commented on #78
hummmmmm @igas make sense. Thank you and my apologies. I'm so dumb. xD

[2017-02-14 16:46] #78 closed

[2017-02-14 22:45] igas commented on #78
@adrianotadao no worries, it's my fault, I have a plans for this version and don't have much time right now =(

@tobyhinloopen thank you. For all help in recent issues and PRs.

[2017-02-15 15:22] anthonator opened #79 "Add slug generator"
Generate a URL safe slug. I think this could fall under the `Internet` namespace.

Example: `this-is-a-slug`

I'd be happy to tackle this if you think it would be valuable.

[2017-02-15 15:33] anthonator commented on #44
Having the E.164 format would be awesome. Anytime you use a calling service (i.e. Twilio) you need to use this format. It's a pretty common use case.

[2017-02-15 22:04] igas commented on #79
Yep, sounds good.

Ruby faker API looks reasonable:
[code]

[2017-02-16 12:51] tobyhinloopen commented on #79
In the ruby example, I don't get why the default case with 0 arguments, the slugs are "glued" with `_` and the 2nd example, glued with `.`. Is the "glue" random as well? I feel like `-` should be default.

But +1 for this addition

[2017-02-16 14:18] anthonator commented on #79
@tobyhinloopen if you fixed it to a `-` how would you randomize it if that's what you wanted?

[2017-02-16 16:13] anthonator commented on #79
This is my first attempt.

https://github.com/igas/faker/pull/80

I kept it pretty close to the Ruby implementation. The biggest difference is that you need to provide a list for the glue. This way we can provide a custom random glue.

[2017-02-17 00:33] igas commented on #79
@tobyhinloopen I feel that `-` is most common. but I feel like in this one better to have random, so ppl can find that they do not handle all the cases in specs for example, if they have their own slug format, they can get it with this. Thoughts?

[2017-02-17 08:48] tobyhinloopen commented on #79
@igas Sounds right 👍

[2017-02-18 06:18] jonchoukroun commented on #57
Hi @igas I know you closed this issue, but I can't find the solution to this anywhere. How can I start the faker app in priv/repo/seeds.exs? I'm happy to write a PR with additional documentation if I figure it out.

[2017-02-18 13:21] tobyhinloopen commented on #57
@jonchoukroun Just a thought, but did you try adding `Faker.start` at the top of your seeds file?

[2017-02-19 20:40] jonchoukroun commented on #57
@tobyhinloopen thanks for the advice, but that didn't work. I did solve it, though, by adding
`import Faker`
then calling it as if it had been aliased, like so:
`username: Faker.Internet.username`

@igas, I would be happy to make a PR for readme, maybe to add an example for using Faker in seeds.exs. Let me know if that's helpful.

Thanks for the help.

[2017-02-27 10:43] itSQualL opened #81 "Calling Faker into spawn"
I'm using `Faker` to generate my seeds into a `Phoenix` project. I'm using `spawn_link` to improve speed, but, for any reason, `Faker` stops working into the new processes.

What could be happening?

[2017-02-27 23:57] igas commented on #81
Hi, faker does not use processes, so you can't spawn it. Plus it won't be faster. Faker just use plain functions.

Pls provide an example if I misunderstood you.

[2017-02-28 07:42] itSQualL commented on #81
Thank you for the info!

[2017-02-28 07:42] #81 closed

[2017-03-11 19:34] neneboe opened #82 "Pokemon and Superheros are not included in 0.7.0"
Here is a screenshot of the faker directory in my deps. I have confirmed that I have version 0.7.0.

![image](https://cloud.githubusercontent.com/assets/1339824/23826297/95c2e156-064e-11e7-9ce5-b3f5c4262ad6.png)

[2017-03-12 03:55] igas commented on #82
hi @neneboe, sorry for confusion, this 2 modules in unreleased version, pls take a look at: https://github.com/igas/faker/blob/master/CHANGELOG.md

you can use github version in dependency if you want.

[2017-03-12 03:55] #82 closed

[2017-03-12 07:25] yordis opened #83 "Update hex.pm version"
I just installed `faker: 0.7.0` which I couldn't use `Faker.Date` because it wasn't there.

@igas could you please publish some new version of `Faker` to `hex.pm` 👏

[2017-03-13 00:09] neneboe commented on #82
Oops, sorry, didn't see that. Thanks!

[2017-03-13 01:23] yordis opened #84 "Add generate random characters"
I normally use this
[code]
Is there any way to do this right now?
If no, should I create a PR for add it?

[2017-03-13 07:21] igas commented on #84
Take a look at `Faker.format/1` is it what you are looking for?

[2017-03-13 07:42] yordis commented on #84
@igas no really, the my example just generate a random string with length of `length`

[2017-03-14 08:02] tobyhinloopen commented on #84
I had to use my own methods as well for generating random digits & letters. Would be nice if there were some utilities in Faker to generate random numbers, random lowercase characters, random anycase characters and random alphanumeric characters, or generate X random things based on a list of elements.

See: https://github.com/igas/faker/blob/master/lib/faker/code/iban.ex#L108-L114

[2017-03-14 22:27] igas commented on #84
I agree with @tobyhinloopen, I see faker as random but real life data, like name, places etc. Just random generators - not sure. On the other hand if ppl expected this from the lib, why not to bring it in core. We can extract it in the future in `faker-utils` as a deps if we want it.

@tobyhinloopen if you have time please send PR to start discussion.

[2017-03-14 22:34] yordis commented on #84
@igas please don't create another package when this package can have that code without any problem. At the end of the day this package is mean to be use for generate fake data, and is not fro front end where the size of the files matters. Please I beg you dont create another package.

What is the problem with generate random string? From my issue that's what I need and probably some people will ha

[2017-03-14 22:36] yordis commented on #84
@igas I tried to use `Faker.Lorem.characters(%Range{first: 1, last: 10})` but it give me back something with single quote and I couldn't use it directly into some Ecto Schema data for some reason. It was complaining about the data type. I am not sure what it was. So that's why I keep using my function

[2017-03-14 22:36] igas commented on #83
I checked one more time, it would be good to finalise #74 before doing release. You offered help there, if you can pick it up it would be good. Thanks.

[2017-03-14 22:37] yordis commented on #83
@igas yes I like that idea! I need that too 😄

[2017-03-15 12:24] tobyhinloopen commented on #84
@yordis `.characters` returns a list of characters, not a string (binary). Think of it as the difference between `[0x61, 0x62, 0x63]` and `"abc"` in Javascript. There are functions to convert them one-way-or-the-other.

[2017-03-25 15:25] anthonator commented on #83
Is #74 necessary to cut a new version? I'd like to start using the slug generator I put together last month. There doesn't seem to be much traction in getting it resolved so I'm wondering if we could get away without it.

[2017-03-25 23:50] igas commented on #83
@anthonator you can use `{:faker, github: "igas/faker"}` and get it today.
@yordis any update on #74?

[2017-04-26 18:39] petejkim opened #89 "Always have parentheses in function calls to avoid warnings"
Is this something we want to fix (to hush warnings) or are you philosophically against the change?

<img width="1312" alt="screen shot 2017-04-26 at 11 38 42 am" src="https://cloud.githubusercontent.com/assets/30173/25450815/fcf51656-2a74-11e7-9253-0fb15feb62fc.png">

[2017-04-26 22:20] igas commented on #89
hey, it's been fixed, but no new version release yet... meanwhile you can use github version as dependency if you want.

[2017-04-26 22:20] #89 closed

[2017-04-27 02:32] petejkim commented on #89
Thanks!

[2017-04-28 22:53] anthonator commented on #83
Is there any way we can get a new version out since #74 has been resolved?

[2017-04-29 06:36] #79 closed

[2017-04-29 10:31] #83 closed

[2017-05-08 03:06] lauraannwilliams opened #91 "Pizza Data (PR Added)"
I've added a PR with Pizza Data: https://github.com/igas/faker/pull/90

[2017-05-15 09:54] tobyhinloopen opened #93 "Add a user-agent generator"
It appears we don't have a `Faker.Internet.user_agent` - could be handy.

Example:

`Faker.Internet.user_agent #=> "Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/41.0.2228.0 Safari/537.36"`

It could either return a predefined set of real user-agents or could generate fake ones based on common keywords, browser names, OS names and random digits, consisting of N samples

[2017-05-21 02:53] igas commented on #93
Hey @tobyhinloopen, great idea! Lets go with real ones.

[2017-05-21 06:26] tobyhinloopen commented on #93
Reminder to self, use a list like https://github.com/joecampo/random-user-agent/blob/master/src/agents/agent_list.json

[2017-06-19 13:43] yordis commented on #84
@igas @tobyhinloopen any updates on this?

[2017-06-19 15:16] tobyhinloopen commented on #84
Yes, there has been a `Faker.Util` module merged. See #85

[2017-06-19 15:31] yordis commented on #84
@tobyhinloopen but is there anyway to just give me back random string without specify a format? My use case that become tedious because I just need a random string with specific length

[2017-06-20 06:52] tobyhinloopen commented on #84
@yordis Why not use something like `:crypto.strong_rand_bytes(length)`?

[2017-06-20 06:55] tobyhinloopen opened #94 "Broken docs for Faker.Util"
https://github.com/igas/faker/blob/master/lib/faker/util.ex#L32

Something went wrong here

[2017-06-20 15:59] yordis commented on #84
@tobyhinloopen that's why I am using, but every single package that I use `faker` I have to add that function. The idea is that `faker` does those type of work 😢

[2017-06-20 17:58] tobyhinloopen commented on #84
Do you look at `Faker.Util.join`?

EG `Faker.Util.join 3, &Faker.Util. lower_letter`

[2017-06-20 18:59] yordis commented on #84
Forget about it! I will keep adding the function. I am looking conveniency, the function I posted you dont care about any formatting or any length (because there is a default value in my case) . Your alternative I have to keep using the formatting everywhere .... but don't worry, no a big deal, I thought it wouldn't hurt when somebody have the usecase

[2017-06-20 18:59] #84 closed

[2017-06-20 19:02] tobyhinloopen commented on #84
Ah I get it now.

You're still free to create a PR but whatever 👍

[2017-06-20 19:04] yordis commented on #84
@tobyhinloopen I can make the PR, which module would you use?

[2017-06-20 19:08] tobyhinloopen commented on #84
Eh whichever you feel like? I think `Faker.Util` or something like `Faker.String`

[2017-06-26 22:46] cuongtnx opened #96 "Incorrect date generated by Faker.Date.date_of_birth"
Hi folks,

I have a problem with Faker generating an incorrect date, making our tests randomly failed.

Let's say today is `2017-06-27`.

Then `Faker.Date.date_of_birth(17)` should return only dates with month & day ranging up to `2000-06-26`. Anything after that is below 17 years old.

A `2000-10-15` means that person is roughly 16 years 8 months old, not 17.

I will later have a PR to fix this p

[2017-07-11 18:17] anthonator commented on #44
@igas do you have any interest in E.164 numbers? I'd be happy to submit a PR when I get a chance.

[2017-07-12 11:27] igas commented on #44
Hi @anthonator I'm not very familiar with this standard, but I would be happy to look at it, we can always prefix it if we decide not to make it default one. PR is welcome.

[2017-07-17 14:05] sofianegargouri opened #99 "crypto:rand_uniform/2 is deprecated"
Hi,

I just installed Faker in my Phoenix project, and I got this warning a lot of time. Guess it was worth an issue.

![image](https://user-images.githubusercontent.com/4323986/28271751-548bbdf8-6b01-11e7-95d1-489a4473fb1a.png)

[2017-07-17 21:42] igas commented on #99
@sofianegargouri Hi, yes, on OPT 20 this function deprecated. I hope to fix it through https://github.com/igas/faker/tree/predictable-random-proposal

[2017-07-17 23:46] igas opened #100 "Make Faker.Date.date_of_birth/1 with valid dates"
Right now dob can't be on 30 or 31. Suggestion is to introduce private function `to_valid_day(date, month, year)` and return maximum possible date, for example:

`to_valid_day(31, 9, 2017) # => 30`

In case of February we'll need to check for leap year.

[2017-07-18 08:22] tobyhinloopen commented on #100
Isn't there some kind of common library that can represent a range of dates (EG a range from `17 years ago` to `18 years ago`) so we can just `Enum.random` it?

[2017-07-18 08:53] julien-leclercq commented on #99
Hi @igas what's missing for the merge to be done ? Maybe we can help ?

[2017-07-18 13:17] #94 closed

[2017-07-18 13:18] #91 closed

[2017-07-18 13:20] igas commented on #99
@sofianegargouri @julien-leclercq please take a look at #101 Feedback and test of this branch in your projects would be much appreciated.

[2017-07-18 13:21] igas commented on #37
Hi @andruby, if you still interested, please take a look at #101

[2017-07-18 13:39] julien-leclercq commented on #99
ok, i am a bit busy this week but i'll try to have a look in my spare time :)

[2017-07-28 20:37] lauraannwilliams commented on #100
Date Ranges are a 1.6 feature from the looks of things
https://github.com/elixir-lang/elixir/blob/741b6adbd8c4be1735dc9c605b8d5cdc7b73bc1a/lib/elixir/lib/calendar/date_range.ex#L1

Perhaps something like this https://medium.com/@natetsai/implementing-date-ranges-in-elixir-384460f3b7fa ?

[2017-08-03 05:35] lowks opened #102 "Can you add a faker for file systems ?"
As the title suggest, can you add a module to fake filesystems ? -> files and directories.

[2017-08-04 08:05] tobyhinloopen commented on #102
Something like `Faker.File` with things like:

[code]

[2017-08-04 08:06] lowks commented on #102
Yeah. It would be very nice. Now in order to test my path library I create real directories and commit that in my code :-(

[2017-08-04 08:07] tobyhinloopen commented on #102
Faker would generate file**names** here, not actual files.

Besides, feel free to add it yourself, ofcourse

[2017-08-04 08:09] lowks commented on #102
Filenames would be cool like how one would mock `os.lsdir` in Python.

[2017-08-04 08:10] tobyhinloopen commented on #102
I think it would be a reasonable addition. You could create a PR if you'd like

[2017-08-04 08:11] lowks commented on #102
I will study the code first. Heads up I am a slow coder.

[image: Low Kian Seong on about.me]

Low Kian Seong
about.me/lowkianseong
  <http://about.me/lowkianseong>

On Fri, Aug 4, 2017 at 4:10 PM, Toby Hinloopen <notifications@github.com>
wrote:

[2017-08-04 08:16] tobyhinloopen commented on #102
Slow & steady wins the race, hah

If you need any help, feel free to ask :)

[2017-08-04 08:16] lowks commented on #102
okay

[image: Low Kian Seong on about.me]

Low Kian Seong
about.me/lowkianseong
  <http://about.me/lowkianseong>

On Fri, Aug 4, 2017 at 4:16 PM, Toby Hinloopen <notifications@github.com>
wrote:

[2017-08-07 07:54] tobyhinloopen commented on #102
@lowks Do note that quoting from mail in your case includes unsubscribe urls from the e-mails

[2017-08-07 22:19] yordis commented on #99
@igas is this done yet? I can work on my time for resolve this, it seems to be straight forward

[2017-08-07 22:55] igas commented on #99
@yordis I have proposal solution in https://github.com/igas/faker/pull/101 feel free to give feedback.

[2017-08-18 11:26] tobyhinloopen opened #103 "Faker.Date.date_of_birth returns 1-year-off dates"
`Faker.Date.date_of_birth(0) #=> ~D[2018-03-15]`

Should return a date between now & 1 year from now.

[2017-09-04 23:45] yordis commented on #84
@tobyhinloopen do you know when will be the next release? I am still needing this 😄

[2017-09-05 14:47] yordis opened #105 "Publish Hex version?"
Hey folks, there is some commits that can be push to Hex. I am wondering if you could help with that. I know that you could probably arguing that you want to wait for X versioning but people like me needs some features and it's the point of versioning 😄

[2017-09-07 06:52] igas commented on #105
Hey @yordis, I published 0.9 and fixed CI, please test.

[2017-09-08 05:31] #105 closed

[2017-09-12 05:30] lackdaz opened #108 "Issue with indeterminate results using `image_url`"
https://github.com/igas/faker/blob/42c1e36a4d8420ce05133dc8905cd3b178d79b24/lib/faker/internet.ex#L95

needs to be corrected to

[code]

[2017-09-13 11:23] igas commented on #108
Hi @lackdaz and @sotojuan,

I've just checked their website http://placekitten.com/ and according to the example it's correct URL, but I couldn't load any images.

Can you please check from your side? Maybe we need to drop this one.

[2017-09-13 14:31] lackdaz commented on #108
I've checked and it is indeed working. My bad and will drop the issue

[2017-09-13 14:31] #108 closed

[2017-09-13 14:42] sotojuan commented on #108
And I will close my PR.

[2017-10-02 21:58] orieken opened #111 "can we add hacktoberfest tag"
last year we added the tag with a # and it didnt count towards commits for [hacktoberfest](https://hacktoberfest.digitalocean.com/)

tag should be: Hacktoberfest

[2017-10-04 09:05] igas commented on #111
Done, I renamed old one.

[2017-10-04 09:05] #111 closed

[2017-10-09 23:24] orieken commented on #102
Looks like a lib already does this sort of thing
https://github.com/CargoSense/briefly
https://github.com/CargoSense/briefly#example
[code]

Create a directory:

[code]

See [the documentation](http://hexdocs.pm/briefly/Briefly.html#create/1) to see
the options that available to `Briefly.create/1` and `Briefly.create!/1`.
[code]

[2017-10-12 09:43] #102 closed

[2017-10-16 12:06] GustavoCaso commented on #93
@tobyhinloopen I would like to help with this one. Also I have been playing with elixir for a while and I would like to start contributing back to the community

[2017-10-16 14:40] tobyhinloopen commented on #93
@GustavoCaso Feel free to do so. You can implement it if you like

[2017-10-16 20:35] GustavoCaso commented on #93
@tobyhinloopen looks like is already been implemented https://github.com/igas/faker/blob/master/lib/faker/internet/user_agent.ex
😢 😄 you can close the issue

[2017-10-17 08:06] #93 closed

[2017-10-19 07:54] orieken opened #114 "Proposal to organize usage examples"
the usage file has grown to be pretty big. I thought we could split each example group to its own md in a docs dir.

[2017-10-28 20:56] jalcine commented on #103
Duplicate of #96

[2017-10-29 00:54] #103 closed

[2017-10-29 00:55] #96 closed

[2017-11-11 09:52] tobyhinloopen commented on #84
@igas

[2017-11-11 09:59] #114 closed

[2017-11-11 10:09] #9 closed

[2017-11-11 10:10] #37 closed

[2017-11-11 15:30] tobyhinloopen commented on #100
Merged

[2017-11-11 15:30] #100 closed

[2017-11-11 15:40] tobyhinloopen opened #120 "Refactor to use `Faker.Random` everywhere"
Currently there are some occurrences where `Faker.Random` is not used for random.

[2017-11-11 15:52] tobyhinloopen commented on #99
All references to `:crypto.rand_uniform` are not removed

[2017-11-11 15:52] #99 closed

[2017-11-11 15:53] tobyhinloopen commented on #50
@igas We have `Faker.Util.pick` by now. Is there a reason to keep this issue open?

[2017-11-11 15:59] tobyhinloopen opened #122 "Move all examples from `docs/` and `USAGE.md` to `@moduledoc`"
This way, all examples will be visible in https://hexdocs.pm/faker/Faker.html

[2017-11-11 16:02] tobyhinloopen opened #123 "Write small section README.md for contributors"
Write a small section in README.md for contributors mentioning things like:

- Use `Faker.*/*` functions as a source for randomness, instead of using Elixir/Erlang random functions.
- conventions about locales & countries, writing tests, docs & examples

[2017-11-12 01:15] #50 closed

[2017-11-12 01:27] #120 closed

[2017-11-12 08:05] igas commented on #84
@tobyhinloopen it's been released in `0.9.0`.

[2017-12-13 17:09] ConnorRigby opened #125 "Semversion faker sometimes generating invalid version"
[code]

[2017-12-13 17:21] ConnorRigby commented on #125
the simplest approach would be in this function
[code]
to change  `formats = ["0.#.#", "#.#.#", "#.##.##"]` to `formats = ["0.#.#", "#.#.#"]`

I another option would be to add something like this to the chain..
[code]

or possibly add a new function that does the above?

[2017-12-16 04:06] yordis opened #127 "Upgrade ex_doc deps and update remote documentation"
Right now the documentation is really broken, I think is because you are using some old `ex_doc` version.

[2017-12-26 16:31] erneestoc opened #128 "Fake.Internet.email() is not working."
I think faker is giving me non valid emails..

`ryann_o'keefe@powlowski.org` is not a valid email format. (I think, tested with my regex and some  online email validators)

The Faker.Internet.email() function should not provide me with wrong data. My tests are crying. 😥

[2017-12-27 11:59] tobyhinloopen commented on #128
`ryann_o'keefe@powlowski.org` is a RFC 5322 compliant e-mail address

[2017-12-27 20:15] erneestoc commented on #128
Thanks! I'll change my email validator.

[2017-12-27 20:15] #128 closed

[2018-01-09 01:02] nathany opened #130 "crypto:rand_uniform/2 is deprecated"
Fyi, when compiling under Elixir 1.5.3, I'm seeing this warning quite frequently from lib/faker.

[2018-01-18 14:05] anthonyfalzetti commented on #130
PR: https://github.com/igas/faker/pull/132

[2018-02-21 01:47] #130 closed

[2018-03-03 21:09] dokicro commented on #57
@jonchoukroun I tried to da `import Faker` as you recommended but I get this error: `module Faker is not loaded and could not be found`

[2018-03-07 14:22] uri commented on #57
@dokicro are you running `import Faker` in an `iex` session?

[2018-03-07 17:14] jonchoukroun commented on #57
@dokicro You have to include `Faker` in your dependencies. Inside `mix.exs` in your application's root, find the private function `deps/0` which returns a list of tuples. You'll want to include Faker as one of those, then run `mix deps.get` at the command line.

Inside `/priv/repo/seeds.exs` you'll add `import Faker` and that lets you call it as `Faker.Internet.user_name`. Hope this helps.

[2018-03-19 14:57] anthonator opened #135 "UUID support"
It would be great if we could get support for generating UUID's. I currently either use `Ecto.UUID` or the `uuid` package when testing.

I think only v4 UUID's would be necessary.

[2018-03-19 14:58] anthonator commented on #135
Would be happy to contribute this

[2018-03-19 15:00] anthonator commented on #123
I'm asking this more out of curiosity, but why use Faker for randomness instead of Elixir/Erlang. I typically use `Enum.random/1`.

[2018-03-19 23:21] igas commented on #123
@anthonator we still use elixir random, it's just to be more extensible wrapped, so you can use old versions or new. You can also write your own implementation to use predictable order (I have plans to do it in faker test suite itself). Hope it makes sense.

[2018-03-19 23:21] igas commented on #135
Hi, contribution welcome. Keep in mind that we are trying to be 0 dependency and you'll need to implement it.

[2018-03-20 15:15] anthonator commented on #135
Is there a Faker specific version of `:crypto.strong_rand_bytes/1` you'd like me to use? Didn't see anything obvious in util.ex

[2018-03-20 15:45] anthonator commented on #135
https://github.com/igas/faker/pull/137

May need a change depending on the answer to my question above

[2018-03-22 04:39] supersimple opened #138 "Deprecation warnings on 1.6"
These are all the warnings I get when compiling on Erlang 20.3 Elixir 1.6.3
[code]

[2018-03-23 01:04] saulecabrera commented on #24
After a while I had some time to take another look to this issue.

I'm proposing a solution similar to the the one described above by @igas, which looks as follows:

Instead of repetitively defining each localized function over and over in each file, we could abstract that piece of code into a reusable construct, like a macro. That way, this:

[code]
can be replaced by this:

[code]

`Faker.Locale

[2018-03-23 10:16] jakobdamjensen commented on #138
I was going to fix this and submit a PR but It seems to have been fixed in master already. It just needs to be pushed to hex AFAIK.

[2018-03-25 10:15] igas commented on #138
Hi everyone, I published v0.10.0. Please test.

[2018-03-29 22:51] vbrazo commented on #23
@igas I can help with Portuguese and Spanish translation. Do you guys plan to define more locales?

[2018-03-29 23:21] vbrazo opened #140 "Faker.Food API"
Hello faker community!

I'm building an API that is going to be used in a mobile application. The goal of this app is to allow grandparents to build their receipts to cook on the weekends. I'm building this app in my spare time to have fun and learn new libraries. I'll eventually publish the app on Apple/Play Store.

I took a look at the docs and saw that we have a `Pizza` module (pretty cool :) I

[2018-04-02 14:36] anthonator commented on #135
Let me know what you think of my PR

[2018-04-24 20:45] anthonator commented on #135
Would love any feedback when you get a chance

[2018-04-25 01:10] #138 closed

[2018-04-25 01:10] igas commented on #135
Closed by #137

[2018-04-25 01:10] #135 closed

[2018-04-25 01:34] igas commented on #127
Should be fixed now.

[2018-04-25 01:34] #127 closed

[2018-04-25 06:15] igas commented on #140
Closed by #141

[2018-04-25 06:15] #140 closed

[2018-04-25 11:14] #122 closed

[2018-04-28 23:05] vbrazo opened #147 "Faker.Color.En, Faker.Color.Es, Faker.Color.PtBr APIs"
I'd like to add `Spanish` and `Brazilian Portuguese` translations for the Color API.

[2018-05-03 08:00] vbrazo opened #149 "Faker.Internet.En, Faker.Internet.Es, Faker.Internet.PtBr APIs"
I'd like to add `Spanish` and `Brazilian Portuguese` translations for the Internet API.

[2018-05-17 02:33] steffel-monaco opened #151 "Hex.pm version is missing UUID"
I have got the latest version 0.10 using hex.pm`{:faker, "~> 0.10"}` I have checked the downloaded dependency it doesn't contains the UUID module.

[2018-05-19 00:35] igas commented on #151
Hi @steffel-monaco, it's not released yet, you can check what and when was released [here](https://github.com/igas/faker/blob/master/CHANGELOG.md).

[2018-05-19 00:35] #151 closed

[2018-06-12 08:13] #149 closed

[2018-06-12 08:13] #147 closed

[2018-06-12 10:44] igas commented on #125
@ConnorRigby @anthonator @tobyhinloopen please take a look at proposed change in https://github.com/igas/faker/pull/153/

[2018-06-13 00:59] igas commented on #125
Closed by #153

[2018-06-13 00:59] #125 closed

[2018-07-04 11:35] igas commented on #24
Hi @saulecabrera,

Great code out there, I got some inspiration from it and created #173. What do you think?

[2018-08-27 11:39] zimt28 opened #193 "cycle/2 with an id"
faker already has a cycle function, but it would be great if it could be used with an `id` instead of a `pid`. This would make tests much easier, as there's no need to keep track of the cycle process manually:

[code]

(Copied from [`faker-elixir`](
https://github.com/GesJeremie/faker-elixir/blob/aca69b02a5b629c1f5c5279a588d09d1288bf332/test/faker_elixir/helper_test.exs#L87-L94))

[2018-09-03 23:59] christophermlne opened #195 "Release Faker.UUID"
https://github.com/igas/faker/issues/151

[2018-09-19 22:16] jasontwong opened #199 "Faker.Internet.Email"
Why do you generate emails that don't match specs?

for example: `pearline_o'conner@schuster.org`

[2018-09-19 22:18] vbrazo commented on #199
Do you wanna create a patch for this issue?

[2018-09-20 02:08] vbrazo commented on #199
@jasontwong I just opened a PR. Lemme know what you think about my changes.

[2018-09-20 02:34] igas commented on #199
Hi @jasontwong,

I don't know which spec you are referring to, but your example is a valid address according to [rfc5322](http://www.ietf.org/rfc/rfc5322.txt).

[2018-09-25 20:43] igas commented on #195
Hi guys,

I've been busy with some personal stuff lately and was not able to finish rewrite of our codebase to new approach, this is the reason why this was not released yet.

We have 2 options here, I can do quick release `0.10.1` with `UUID` or you can use `{:faker, github: "igas/faker"}`.

I'm courious if you have any problems with the second option?

[2018-09-25 22:42] saulecabrera commented on #24
@igas Sorry for the delay! I feel that your solution is a nice iteration to mine, specially because the amount of metaprogramming is less. I'm all in with this!

[2018-09-26 12:36] anthonator commented on #195
I'm sure we all understand that life happens. I appreciate you taking the time to address this.

My vote would be to do a release. We have a policy which prevents us from pulling dependencies from source control.

[2018-09-26 13:04] vbrazo commented on #195
My vote would be to do a release +1

[2018-09-27 11:03] #199 closed

[2018-09-27 11:30] igas commented on #195
I decided to do 0.11.0, thought about `0.11.0-rc.0`, but sounded silly. I'm sure we would need a few minor releases to finish the cleanup. Meanwhile please feel free to rise up issues if something is broken.

[2018-09-27 11:30] #195 closed

[2018-09-27 11:39] #24 closed

[2018-09-27 11:39] #23 closed

[2018-10-01 04:14] indocomsoft opened #204 "Unable to use Faker.Cat"
I am getting this error stacktrace:
[code]

I think the `localize` macro is broken.
According to elixir docs: https://hexdocs.pm/elixir/Kernel.html#function_exported?/3, the spec is `function_exported?(module(), atom(), arity()) :: boolean()`, but instead it is being used like so in Faker `function_exported?(module, unquote(function), EnUs)`

`EnUs` is not `arity()`

[2018-10-04 16:45] indocomsoft commented on #204
Resolved by a32f174

[2018-10-04 16:45] #204 closed

[2018-10-05 02:21] vbrazo opened #208 "Introducing namespaces"
We want to create namespaces because you and I like Faker and want to keep the library organized and easy to use. Besides that, we need to determine great taxonomy to maintain and scale our modules.

I'm going to start suggesting a few namespaces for the current modules.

[code]

I'll try to come with taxonomy for the other modules soon. Feel free to suggest a few good namespaces. Your ideas are a

[2018-10-26 19:58] jc00ke opened #211 "Faker.Internet still generating content with unsafe characters"
I don't think the `~s('")` actually removes `'` characters https://github.com/igas/faker/commit/ef4b56fac71488392acba6610e84e438696a1aa3#diff-e3ecc989170f877abe39eb1cdf76c35bR340

[code]

![faker-single-quote](https://user-images.githubusercontent.com/18191/47589671-b5f86000-d91e-11e8-99ff-0aecf367ea95.png)
I'm still seeing this on b964ad1aceeff867e0011b994bc97c89e36183bd

PR in the works.

[2018-11-02 06:19] williamweckl opened #213 "Faker.Date.date_of_birth is hanging"
After 0.11.1 update I've been noticing some problems with ex_machina factories and fake date of birth generation.

The code bellow is taking about 3 seconds to run, this makes my tests slow and causing some timeouts when inserting this data to the database.

`Faker.Date.date_of_birth(18..50)`

This does not happen in 0.11.0.

[2018-11-02 10:20] wizardfrag commented on #213
Upon some inspection and hair pulling of my own, this seems to be related to the change in `Faker.Util.pick` to call Enum.to_list() on the list. Some debugging using redbug shows:

[code]

I'd suggest date_of_birth was rewritten to use something like `earliest_seconds+rand(0, latest_seconds-earliest_seconds)` (pseudocode) or such

[2018-11-13 16:18] pmontrasio commented on #123
I'm adding some Italian modules, most of my examples are failing and reading the code I eventually found this issue.

I found the code of the `sampler` macro and saw that it uses `Faker.random_between/2`. It seems that it should set a fixed seed, but if I set my examples with the values that are making them fail, they fail again on the next run because they get a different value. It seems that the

[2018-11-19 16:09] pmontrasio opened #219 "Performance regression after commit a57d499821375f3b239358f8bfac11bdfc68d06a"
I found a x10 performance regression in the commit "Fixed: Faker.Util.pick/1 work with Enum type now" of October 4.

I have a test suite running in about 3 minutes with Faker 0.11.0 (both on my laptop, my coworkers laptops and on Travis)

[code]

After the upgrade to 0.11.1 the tests run in 30 minutes (again on our laptops and on Travis)

I traced back the regression to commit a57d499821375f3b2393

[2018-11-19 16:11] keown commented on #219
+1

[2018-11-19 16:48] pmontrasio commented on #219
I noticed that the tests of Faker `pick` doesn't receive a list argument only when the argument is a range of integers.
I made a benchmark of those cases using benchee. In the source directory of Faker:

[code]

I split the output for ease of reading

[code]

So `Enum.to_list` has a big hit on performances, but for the other range it's much worse

[code]

[2018-11-19 23:35] owenstrevor opened #220 "Add gender to name generator"
Would love to see a gender dimension to the name generator!

Faker for Ruby has this: https://github.com/stympy/faker/issues/289

[2018-11-19 23:48] owenstrevor commented on #220
Actually, we can get the gender after it's generated: https://hex.pm/packages/gendex

Would be cool to reference this package in the README as a good integration.

[2018-11-19 23:48] #220 closed

[2018-11-20 20:50] MikaAK commented on #213
I'm seeing this to, it finishes eventually but is incredibly slow

[2018-11-21 10:49] #213 closed

[2018-11-21 10:49] #219 closed

[2018-11-21 11:34] igas commented on #213
Should be fixed in 0.11.2

[2018-11-21 11:39] igas commented on #219
Hi, please test 0.11.2

[2018-11-21 12:12] pmontrasio commented on #219
My tests are quick again with 0.11.2. Thank you!

[2018-11-21 19:57] igas commented on #219
No worries. It's @aptinio & @elbow-jason who done the job.

[2018-12-30 20:01] #211 closed

[2019-01-03 02:55] vbrazo opened #227 "Fakerbot for faker-elixir"
Would you guys consider building something like [Fakerbot](https://github.com/akabiru/fakerbot) for this project?

Reference: https://github.com/stympy/faker/issues/1505

[2019-01-15 16:58] anthonator opened #231 "New release?"
Heeey

I hate to be that guy but is there any way we could cut a new release? I see the Elixir 1.8 DateTime deprecations have been fixed in `master`. The deprecation warnings flooding my test suite are driving me a bit crazy.

Would be happy to help push anything along that's preventing a release.

[2019-01-17 16:40] anthonator commented on #231
Just want to check in on this. Any possibility of making this happen? Again, I'm happy to help push anything along that's preventing a release.

[2019-01-17 22:07] DavidVII commented on #231
I'd love to see a new release to remove these warnings. I'm happy to help as well 👍

[2019-01-24 20:34] anthonator commented on #231
Would it be possible to get a response to this?

[2019-01-25 19:12] dependabot[bot] opened #234 "Dependabot can't evaluate your Elixir dependency files"
Dependabot can't evaluate your Elixir dependency files.

As a result, Dependabot couldn't check whether any of your dependencies are out-of-date.

The error Dependabot encountered was:

[code]

You can mention @dependabot in the comments below to contact the Dependabot team.

[2019-01-28 19:13] #234 closed

[2019-02-01 14:54] anthonator opened #236 "Consider adding additional maintainers"
I propose adding additional maintainers to this project.

This project is pretty popular (almost 200k downloads on hex.pm) but attention to contributor issues and PR's seems to be lacking. We all understand that life happens and projects you _volunteer_ your time to aren't always a priority. I think it would be beneficial to the community to add additional maintainers so the burden of maintaining

[2019-02-01 21:16] vbrazo commented on #236
I'd be happy to be a collaborator and start contributing more to this library. I've merged some good PRs so far, and I believe we still have a lot to do. I'd prefer to work with other collaborators to discuss PRs and ideas. @igas and I worked together in a few tasks last year and it was pretty awesome.

Let's just build this library together!

[2019-02-03 05:55] igas commented on #236
Hi guys,

I'm happy to do this and I've done this before with @tobyhinloopen.

I actually thought about writing the email to @vbrazo regarding this, but @anthonator done this for me ;)

I propose the following:

I'll add both of you to github collaborators as I remember your interest from PRs and issues.

Regarding changes itself, feel free to review and merge all new locales and data related modu

[2019-02-03 10:51] vbrazo commented on #236
Sounds good to me @igas @anthonator

[2019-02-04 14:34] anthonator commented on #236
Sounds good to me as well! Thanks for being open to this @igas! Let me know the best email to reach you at. I'd love to see a new release cut to fix the 1.8 deprecation warnings.

[2019-02-04 22:30] #236 closed

[2019-02-05 00:11] igas commented on #231
Closed via #239

[2019-02-05 00:11] #231 closed

[2019-03-05 12:46] jjl opened #244 "Out of date documentation on Hexdocs"
Looks like it didn't push correctly, because I can't see the `Faker.DateTime` namespace.

[2019-03-07 17:21] anthonator commented on #244
The documentation is up to date. The `Faker.DateTime` module is set to `@moduledoc false`.

https://github.com/igas/faker/blob/master/lib/faker/datetime.ex#L2

I'm not sure why. @igas any ideas?

[2019-03-07 17:24] anthonator commented on #244
Looks like it got added here.

https://github.com/igas/faker/commit/34b91ee2a37192c728ee4cf1dda5026d71ec63d3#diff-f68672b91b8c7896852f3cfafa62a96d

[2019-03-30 00:34] jalcine commented on #244
I almost added a pull-request for this. But it seems like one should to remove that `@moduledoc` bit up there.

(Originally published at: https://v2.jacky.wtf/post/a065438f-464b-4c05-9787-0f0fc3778936)

[2019-04-01 20:41] anthonator commented on #244
@jalcine PR's are always welcome!

[2019-04-03 03:35] jalcine commented on #244
Just opened a PR for this! https://github.com/igas/faker/pull/249.

(Originally published at: https://v2.jacky.wtf/post/e6864b76-0af2-44f4-9877-a595ec031bdc)

[2019-04-03 17:18] reallinfo opened #250 "logo contribution"
Hi, I contribute to open source softwares by designing logos. I designed a logo for faker. The idea of ​​logo is available in the following image.  I will wait for feedback. Thank you.

![faker](https://user-images.githubusercontent.com/36298335/55498974-ddd8b600-566a-11e9-854c-0f7f10673f4c.jpg)

[2019-04-03 17:22] vbrazo commented on #250
Loved the idea of adding a logo to the repository 👍

[2019-04-03 19:39] anthonator commented on #250
They look great! This is probably a decision for @igas though.

[2019-04-05 21:04] #244 closed

[2019-04-20 09:59] igas commented on #250
hey, I love the idea. And appreciate the work. I have not dealt with design in OSS, usually, we go through a few iterations. I see the logic in the idea, but I don't associate it with project personally. I like simplicity but would go in the direction of the abstract meaning of the word itself. For me, faker is more like a pretender. I would play around ball masks with/without holder or theatrical

[2019-04-26 11:38] reallinfo commented on #250
Hi again, I have designed a logo by going over your ideas. I did some research on the internet. only if I act with the idea of ​​theater mask, the logo would be very general. That's why I included the functionality of the software in the logo idea. and I combined the theater icon with a data icon. What do you think?
![FAKER](https://user-images.githubusercontent.com/36298335/56805184-e323bd80-6830

[2019-06-20 04:24] vbrazo commented on #250
I'd prefer to see smart eyes or perhaps evil ones. Not sure if happiness could express the library's core idea.

[2019-07-05 09:21] popo63301 opened #262 "Thinking about a better internationalisation system"
Hi guys!

First, I have to say thanks for the work you all have done to build this library. It's always great to have a decent Faker library in any programming language.
I was thinking about the way this library handles i18n. I'm a bit afraid that if we continue to contribute on several languages,  using a language namespace will make the documentation enormous.

To be honest, I don't have a solut

[2019-07-15 06:56] igas commented on #262
Hi @popo63301,

In the beginning, I had JSON files as data, but it was quite fast dropped as it was magic on top of it (metaprogramming).

I have always envisioned it as much as possible to leverage the strength of the language. This is why modules such a good way to handle it, you can use them directly, without modifying the state (app config, etc).

I also thought about getting l10n and i18n rig

[2019-07-15 09:26] popo63301 commented on #262
Hi @igas ! 😁

No, I don't have other concerns besides documentation. Maybe we can stick with the current system and create a github documentation with Markdown files similar to the "usage examples" sections so that people can rely on this documentation instead of a thick hex doc. Thus, we can have a lighter documentation and still benefit from this handy i18n system.

[2019-08-20 19:24] anthonator commented on #208
I'm not sure how I feel about additional namespacing. It doesn't seem incredibly intuitive to me. I'd never think to look for `StarWars` under `Fiction`. It's also adding additional vertical space that I think is unnecessary.

Just my $0.02. 😄

[2019-09-04 19:01] vbrazo opened #279 "Create organization faker-elixir and move project to faker-elixir/faker"
Do you guys @igas @anthonator think this is a good idea?

In my point of view the main advantages are:
- New repos: the ability to create new repositories in the future when needed
- Communication channel: We can discuss version bump and other PRs in the organization chat

[2019-09-09 21:58] igas commented on #279
A while ago I created https://github.com/elixirs for similar reasons, do you think we want to be restrictive to faker?

[2019-09-10 06:25] vbrazo commented on #279
If we don't restrict to faker, which other projects would you be interested in building?

[2019-09-13 07:33] igas commented on #279
I'm not actively developing in elixir right now, but I'm happy to bring other projects and maintainers under the org.

[2019-09-13 08:55] igas commented on #279
Actually I do have 2 other:

- https://github.com/igas/custom_base
- https://github.com/igas/base62

+ I have one in mind to stretch my elixir a bit for https://en.wikipedia.org/wiki/Bank_state_branch :)

[2019-09-25 07:39] vbrazo commented on #279
Bank state branch sounds like a cool challenge. Let's move to the new org.

[2019-09-25 07:41] vbrazo commented on #279
`elixirs` works well. We just need a logo.

[2019-09-30 14:42] hickscorp opened #285 "Needs publishing on Hex.pm."
Many of the recently merged PRs (including the one for Ethereum stuff) aren't in the latest version of Faker on Hex.pm.

It'd be nice to bump it.

[2019-10-03 10:33] igas commented on #285
https://hex.pm/packages/faker/0.13.0

[2019-10-03 10:33] #285 closed

[2019-10-03 10:35] igas commented on #279
@anthonator @tobyhinloopen while I'm preparing things, are you guys still keen to be maintainers?

[2019-10-03 10:36] tobyhinloopen commented on #279
@igas I'm no longer using Elixir so I'll pass.

[2019-10-03 12:58] anthonator commented on #279
I’m still in

[2019-10-03 22:38] igas commented on #279
I moved repo and invited you guys. Please provide me with you hex profiles so I can add you there.

[2019-10-03 22:42] vbrazo commented on #279
My username is `vbrazo`. Thanks!

[2019-10-03 22:42] #279 closed

[2019-10-03 23:00] anthonator commented on #279
`anthonator`. Thanks!

[2019-10-03 23:18] saulecabrera commented on #279
Recently started developing in Elixir again so if you guys need help I can give a hand as a maintainer.

[2019-10-04 06:37] igas commented on #279
It's good to have you back @saulecabrera, lets have some fresher activity and we can come back to this discussion if others don't have any objections.

[2019-10-04 09:29] igas opened #290 "Add Elixir.Faker.Pokemon.Ru.location/0"
We want to add `Elixir.Faker.Pokemon.Ru.location/0`.

If this is the first time you contributing check out this [guide](https://github.com/firstcontributions/first-contributions).

Comment below if you want to start working on the issue and never be afraid to ask questions.

If you contribute module that does not exist yet [here is a good example PR](https://github.com/elixirs/faker/pull/288) on w

[2019-10-05 13:55] fusillicode commented on #290
🙋‍♂️ I would love to work on this!

[2019-10-05 14:19] fusillicode commented on #290
Ok I didn't expect it would have been so difficult to retrieve the Russian translations of Pokemon locations 😆

P.S: I'm trying to look around [here](https://bulbapedia.bulbagarden.net/wiki/List_of_cities_and_towns) and randomly on the Web.

[2019-10-05 20:04] igas commented on #290
Haha, this was more like an example issue we plan to add more like this. I'm sure we'll be happy to see `Elixir.Faker.Pokemon.It.location/0` :)

[2019-10-06 06:01] echavezNS commented on #208
I think it's quite good idea to extend a little bit the namespaces as you suggest @vbrazo, We could prevent to have overwritten modules. I can take this task of the suggested namespaces you provided if you want.

[2019-10-06 08:14] vbrazo commented on #250
We'll also need a logo for the community and are open for suggestions.

[2019-10-10 06:15] fusillicode commented on #290
Oh gosh, thanks a lot 😅
I will surely tackle that `Elixir.Faker.Pokemon.It.location/0` as soon as I can!

[2019-10-26 08:49] fusillicode opened #302 "Add Elixir.Faker.Pokemon.It.location/0"
I'm opening this issue just to track [this](https://github.com/elixirs/faker/issues/290#issuecomment-540396335) 😅

[2019-10-26 08:49] fusillicode opened #303 "Add Elixir.Faker.Pokemon.It.name/0"

[2019-10-26 08:52] fusillicode commented on #290
Hi guys 😄

I took the liberty to open 2 separate issues to track both 🇮🇹 Pokemon [location](https://github.com/elixirs/faker/issues/302) & [names](https://github.com/elixirs/faker/issues/303)
Let me know if that's ok 😅

P.S: I've also opened two separate PR 😉

[2019-10-26 10:10] fusillicode opened #305 "Add Dependabot?"
I took the liberty to add [Dependabot](https://dependabot.com/) on my fork of `Faker`.

It seems however that the bot it is "transitively" tracking the original repo 🤔

Let me know if that's ok! 😅

[2019-10-28 19:12] vbrazo commented on #250
@igas what about adding a raw elixir logo in the GitHub community like the one below?

![elixir](https://user-images.githubusercontent.com/1292556/67709905-2b589f80-f97c-11e9-82ed-c371a9ca2408.png)

[2019-10-28 19:13] vbrazo commented on #250
I would also add a description for the community. Make it a real community with a clear goal 🚀

[2019-10-29 06:34] fusillicode commented on #303
PR merged! 🎉 https://github.com/elixirs/faker/pull/304

[2019-10-29 06:34] #303 closed

[2019-10-29 06:34] fusillicode commented on #302
PR merged 🎉  https://github.com/elixirs/faker/pull/301

[2019-10-29 06:34] #302 closed

[2019-10-31 11:49] Victoria91 opened #306 "Faker.Internet.email() can generate non-valid email"
Resulted emails can be with apostrophe which is not valid ("maximilian.o'hara@walter.org")

[2019-10-31 11:50] anthonator commented on #305
@igas can you verify that Dependabot is on this repository?

[2019-10-31 11:51] anthonator commented on #306
Emails with apostrophe's are valid.

https://stackoverflow.com/questions/8527180/can-there-be-an-apostrophe-in-an-email-address

[2019-10-31 11:55] fusillicode commented on #305
Hi @anthonator sorry for bumping in I just want to underline that what I've written may be wrong 😓

It was the first time I added Dependabot to a repo 😅

[2019-10-31 11:56] anthonator commented on #305
No worries!

Thanks for bringing it up. I haven't seen a Dependabot PR come up in a while so maybe it didn't transfer over.

[2019-10-31 12:02] anthonator commented on #306
I'm going to go ahead and close this. Let us know if you'd like to discuss further.

[2019-10-31 12:02] #306 closed

[2019-10-31 17:17] vbrazo commented on #305
I haven't seen it either, so we're good.

[2019-10-31 17:17] #305 closed

[2019-11-02 06:11] igas commented on #250
I don't think we can use official logo due to licence. What do you think about this one?

https://pixabay.com/photos/bottles-potions-ink-dye-magic-4387824/

Feel free to write up one, I'm happy to add it.

[2019-11-02 06:11] vbrazo commented on #250
looks good to me 👍

[2019-11-02 07:38] vbrazo opened #308 "Translators wanted!"
Our `faker-elixir` is already doing a good job in terms of translations. I think we already have:
- English
- Spanish
- Armenian
- Italian
- Brazilian Portuguese

for some of the faker generators. I think we're still missing some people to lead other languages like:
- German
- French
- Japanese
- Mandarim
- and others?

We welcome any contributors to build this.

[2019-11-02 23:29] vbrazo commented on #250
I like the logo @igas we should probably add a description too. Something like: `Group for shared work on Elixir libraries and documentation`.

[2019-12-02 18:54] NikitaAvvakumov opened #315 "Specify standards where appropriate"
Hi,

Thanks to all the contributors for their work on this resource!

I would like to suggest that it may be a good idea to specify which standards were used as source(s) of data in the library. For instance, in the English version of the `Address` module the country list contains ["Svalbard & Jan Mayen Islands"](https://github.com/elixirs/faker/blob/master/lib/faker/address/en.ex#L341). However,

[2019-12-02 21:31] igas commented on #315
Hi @NikitaAvvakumov,

I agree, source will be a good to have. Speaking of your specific example, I feel like this would not be right to adjust it to your need, say we have someone else who want to use different list. My suggestion will be to add `country/1`, with default to `:iso3166_1` and list from ISO. In this case you'll be able to use "correct" list in your app, but we leave place fore extens

[2019-12-02 21:35] anthonator commented on #308
Would it make sense to put this in the README?

[2019-12-02 21:41] anthonator opened #316 "Move Faker.Name to Faker.Person"
I'm not sure the `Name` namespace makes sense. All the `Faker.Name` functions seem to apply specifically to naming people. I propose deprecating `Faker.Name` and replacing it with `Faker.Person`. I believe this would also be more inline with other modules that deal with naming like `Faker.Company`.

[2019-12-02 21:46] vbrazo commented on #308
@anthonator I'd say so.

[2019-12-02 21:48] anthonator commented on #308
I think so too. This package has a heavy emphasis on translations which require more community contribution than other aspects of this library. Asking for help with translation contributions in a more public place makes sense to me.

[2019-12-03 08:06] NikitaAvvakumov commented on #315
@igas Sounds good, thanks! I'll work on a PR. Do you know the source of the current country list so that it can be passed as an argument to `country/1`? In the interest of not breaking any current functionality, do you think it would be best to go with

[code]

Also, do you have any tips for testing this? I don't see a way to seed Faker's random number generator to make list sampling deterministic

[2020-04-02 19:12] joshchernoff opened #330 "Feature Request: Random Markdown"
In my own project, I'm working on a feature that parses markdown. This would be a great feature for that.

[2020-04-13 21:07] anthonator commented on #316
Would you be interested in bumping the minimum supported Elixir version from 1.5 to 1.6 so we can take advantage of the `@deprecated` tag?

[2020-04-21 22:42] michaelfich opened #333 "Feature Request: ExUnit seeds for Faker"
Would it be possible, or even desired, to add a feature which would let you take the seed number from ExUnit, and use it to seed the random data supplied by Faker during tests?  It would make it really helpful to track down the results of flaky tests.

[2020-04-27 16:43] #316 closed

[2020-05-04 06:21] igas commented on #333
I think you can achieve this with something similar to what we do in faker tests itself.

https://github.com/elixirs/faker/blob/53668128544c7891763531e35c8b1088c15ae8d5/test/test_helper.exs#L2

I'm currently not using `faker`, if you want to give it a shot and hit roadblocks don't hesitate to ask here, I'll try to help.

If you manage to solve it with this feel free to post it here or send PR so o

[2020-06-21 02:04] anthonator opened #345 "Add additional publishers to Hex.pm"
I think it would be helpful to add additional publishers to Hex.pm. A lot of people’s contributions aren’t getting put to use because new versions of Faker don’t get published. @vbrazo and I are already maintainers so adding one or both of us probably makes sense.

[2020-06-22 02:15] igas commented on #345
@anthonator I think I tried to do it already, but could not find how to add new publishers, you and @vbrazo already full access owners. I don't mind to add you both if you point me out in the right direction.

[2020-06-25 11:34] anthonator commented on #345
Looking at `hex` mix tasks I found `mix hex.owner add PACKAGE EMAIL_OR_USERNAME`. Looks like what we need. My hex.pm username is `anthonator`.

Thanks! I think this will be a big help!

[2020-06-29 04:26] igas commented on #345
@anthonator yep, this is what I've done from the beginning, you can check https://hex.pm/packages/faker it shows both you and @vbrazo as owners, but not publishers :(

[code]

I'm happy to figure out how we can at least semi-automate the process. I'm happy for any one of us cut the release and if you send me an email it has higher chances of me seeing it and publish it to hex with new tag from git

[2020-08-07 23:19] anthonator commented on #345
We figured this out so closing. Thanks @igas!

[2020-08-07 23:19] #345 closed

[2020-08-29 17:21] artkay opened #358 "New release?"
Hey @anthonator / @igas, there are few new things that I would love to use in tests for my production code, but they are still unreleased. Is it possible to make the releases  more often than 1-2 times per year? It would be awesome to get a release soon. I am happy to assist in any way I can - just let me know.

[2020-09-09 16:34] anthonator commented on #358
v0.15.0 has been released

[2020-09-09 16:34] #358 closed

[2020-09-16 12:40] matheuscamarques opened #365 "Problems when instantiating Faker in iex, I followed the documentation guide but it didn't help me much, can someone help me, I'm using Phoenix Framework"
Faker.Address.zip_code()
** (UndefinedFunctionError) function Faker.Address.zip_code/0 is undefined (module Faker.Address is not available)

`mix.exs

defmodule Proje.MixProject do
  use Mix.Project

  def project do
    [
      app: :proje,
      version: "0.1.0",
      elixir: "~> 1.7",
      elixirc_paths: elixirc_paths(Mix.env()),
      compilers: [:phoenix, :gettext] ++ Mix.compilers(),

[2020-09-16 13:02] anthonator commented on #365
Where are you using `Faker.Address.zip_code/0`? In a test? In the REPL?

[2020-09-25 13:31] matheuscamarques commented on #365
this working now !

[2020-09-25 13:31] #365 closed

[2020-10-10 18:18] techgaun commented on #330
I'll take a stab at this since no one has indicated as working on this.

[2020-10-15 00:46] #330 closed

[2020-10-18 21:03] joshchernoff commented on #330
dope 🙏

[2020-10-30 12:38] brunozrk opened #385 "Faker.Name.PtBr.first_name/0 is undefined"
Hello guys, after updating to version 0.14, `Faker.Name.PtBr.first_name/0` is not working

I see that `Faker.Name` is deprecated in favour of `Faker.Person`.

But the changelog is not warning about that break change:
`Faker.Namer.{other langs}` removed https://github.com/elixirs/faker/commit/0256548f9955136bdff9bd81b8acd8bb3f864e51#diff-3802f66f490ca4c5f190a8ac777ad20265cdb2cb626c2e665a8e9c8e174c3

[2020-11-09 11:08] Bennie-higuru opened #388 "Avatar url is redirected"
The url generated by Faker.Avatar looks like this:
[code]
However, when I input that url in the browser it is redirected (307) to: https://robohash.org/set_set1/bgset_bg2/kQqaIfGqxsjFoNIT
Systems that do not follow a redirect path won't be able to fetch this image.

[2020-11-30 00:28] igas commented on #388
Thank you for reporting this, #389 should fix it

[2020-12-01 03:26] #388 closed

[2021-01-12 07:16] xaviseg opened #398 "Virgin Islands extra split"
Hi there,
In `faker/lib/faker/address/en.ex` "'Virgin Islands, British'" and "'Virgin Islands, U.S.'" are split as 4 countries:
[code]
being surrounding the 2 countries with single quotes.

Cheers!

[2021-07-16 18:20] icecapp opened #414 "Faker.Phone.EnUs.phone() produces invalid phone numbers"
This is most likely known/expected, but un(der?)documented.

After investigating why my test suite started sporadically failing, I discovered that `Faker.Phone.EnUs.phone()` often produces invalid numbers.

[code]

[code]

For example, it can produce `(963) 718-4753` which will never exist.

I understand maintaining an area code map is work, so perhaps just warning that this can conflict with vali

[2021-07-24 09:21] Bruuu commented on #414
Hi @icecapp thank you for your bug report. @igas I'd like to take a look at this one.

[2021-07-24 09:24] igas commented on #414
Thank you @Bruuu. Your help is much appreciated.

[2021-10-28 19:32] x-ji opened #431 "Feature request: Timezone"
Not sure if this totally makes sense for this project, though in an app which uses the [`DateTime`](https://hexdocs.pm/elixir/1.12/DateTime.html) module and where each user might have a different timezone set, would it make sense to allow Faker to generate random timezones to help running tests?

I guess the timezone would be represented as a string, with the UTC timezone as "Etc/UTC", and another

[2021-11-14 20:19] tmbb opened #433 "Utilities for non-deterministic data generation"
I've written the following *very simple* utility macro to generate proabbilitic fake data for a project and thought other people might find it interesting. It doesn't make sense to package such a simple macro but it might make sense to include it in a larger package such as `Faker`.  The implementation speaks for itself:

[code]

You use it like this

[code]

It saves you from writing something li

[2021-11-19 16:03] narrowtux opened #437 "Compile issue with Elixir 1.13"
I'm running elixir with 1.13rc1 and it no longer likes some unicode characters (I assume this is to prevent code from that recent paper from running).

[code]

[2021-11-19 16:07] anthonator commented on #437
Thanks for reporting this issue.

We're working through a fix in #434 now. Hope to have something soon.

[2021-11-19 16:54] narrowtux commented on #437
oh, sorry for the duplicate

[2021-11-19 16:55] narrowtux commented on #437
cheers

[2021-11-25 15:09] #398 closed

[2021-11-25 15:11] anthonator commented on #437
Fixed in `master`.

[2021-11-25 15:11] #437 closed

[2021-12-05 18:13] AdrianRibao commented on #437
Thanks!

Do you have an estimation for the release?

[2021-12-06 01:00] anthonator commented on #437
I’m currently waiting on #440 to be approved. Once that’s approved I should be able to publish a new version.

[2021-12-06 09:48] syfgkjasdkn opened #442 "invalid bidirectional formatting character in string: \u202A"
I'm getting

[code]

on elixir 1.13 for [a string](https://github.com/elixirs/faker/blob/3e98138098a7b80704dbfb5ca7c5f23717c5b21d/lib/faker/string.ex#L144).

Using faker `0.16.0`.

[2021-12-06 09:50] syfgkjasdkn commented on #442
Downgrading to `faker ~> 0.15.0` solves the compilation error.

[2021-12-06 09:53] syfgkjasdkn commented on #442
Closing since I found https://github.com/elixirs/faker/issues/437

[2021-12-06 09:53] #442 closed

[2022-01-23 04:52] michelson opened #447 "compile error on elixir latest 1.13.12"
Hi I got errors on Elixir latest, on 1.12 runs ok

[code]

[2022-01-23 13:55] anthonator commented on #447
What version of faker are you using? This was fixed in #434 and released in 0.17.0.

[2022-01-23 14:15] michelson commented on #447
Oh, sorry. Yes, I'm using 0.16; I didn't note the version update.

[2022-01-23 14:15] #447 closed

[2022-07-11 15:29] jwilger opened #467 "Faker.Blockchain.Ethereum.address/0 may return invalid addresses"
Due to the way the addresses are constructed, they may not *actually* be valid addresses, because sometimes a value is generated that does not pass address checksumming. Using `Web3x.Utils.is_valid_checksum_address/1` to validate, I would expect the value returned by faker to always return `true`, but it frequently provides values that do not.

[2022-07-11 15:35] jwilger commented on #467
Aaand...nevermind. It turns out that the `Web3x` lib expects you to convert to a checksum address first. My initial reading of the code there made me think they were doing the conversion prior to running the check, but apparently I needed more ☕ . :-D

Sorry for the noise.

[2022-07-11 15:35] #467 closed

[2022-09-17 08:49] chvanikoff opened #479 "Option to make any generated data unique"
From project to project, I keep bringing my tiny function of making generated data unique:
[code]
While it's really tiny, I thought what if we had an option to pass extra opts, like `unique: true`, to any of the Faker modules functions? i.e., `Faker.For example, Pokemon.name(unique: true)` would generate `Pikachu42`.